<!DOCTYPE html>
<head>
  <title>Ant-Man Fanclub</title>
  <style>
  header {
  text-align: center;
  background: url("http://dash.ga.co/assets/jeff-bg.png");
  Background-size: cover;
  color: white;
}
a {
  color: red;
}
h1 {
  font-size: 70px;
}
img {
    margin: 40px 0px 0px 0px;
    border: 7px clear;
    border-radius: 20px;
}
ul {
  padding: 10px;
  background: black;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
    body {
      text-align: center;
      background: url("http://images-cdn.moviepilot.com/images/c_fill,h_1079,w_1600/t_mp_quality/crmdx9jqjaqr2dtrdamg/ant-man-original-avengers-coming-together-ant-man-poster-369744.jpg");
      background-size: 1300px;
      background-position: center;
      color: red;
      font-family: font-family: 'Bangers', cursive;
    }
    p {
      font-size: 24px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: black;
    }
  </style>
</head>
<body>
  <img src="http://img2.wikia.nocookie.net/__cb20130320022324/marveldatabase/images/5/50/Eric_O'Grady_(Earth-616)_from_Ant-Man_%26_Wasp_Vol_1_1_cover.png">
  <p>Welcome to the Ant-Man fanclub! Enter your email to join the fanclub</p>
  <input type="email" placeholder="Your email">
  <input type="submit">
  <a href=“https://dash.generalassemb.ly/keenon99/build-your-own-personal-website.”>About Us</a>
  <a href=“https://en.wikipedia.org/wiki/Yellowjacket_(Marvel_Comics).”>Yellow Jacket</a>
     <a href=“https://en.wikipedia.org/wiki/Ant-Man.”>Ant-Man</a>
  </body>



